<html>
    <head>
        <title>Smart Shed</title>
    </head>
    <body>
        <h1>Welcome to SEC IoT Workshop</h1>
	        <style>form { display: inline }</style>
	        <p display:inline>
	        	<form method=post>
	        		<input type=hidden name=device value='switch_light'>
	        		<input type=hidden name=status value='1'>
	        		<input type=submit name='submit' value='ON'>
	        	</form>
	        	<form method=post>
	        		<input type=hidden name=device value='switch_light'>
	        		<input type=hidden name=status value='0'>
	        		<input type=submit name='submit' value='OFF'>
	        	</form>
	    
    </body>
</html>
